@import '../../bower_components/cf-css/src/sass/code-fire';
@import '../../bower_components/foundation-icon-fonts/foundation-icons';

.primary-color {
  color: $primary-color;
}

.push-down {
  margin-bottom: 20px !important;
}

.squeeze-left {
  padding-right: 10px !important;
}

.squeeze-right {
  padding-left: 10px !important;
}

.squeeze-up {
  padding-top: 20px !important;
}

.line-up-left {
  padding-left: 0;
}

.line-up-right {
  padding-right: 0;
}

.row{
  &.wide{
    max-width: 80%;
  }
}